

.header{
    display:flex;
    justify-content: center;
    background-image: url("https://images.unsplash.com/photo-1502301197179-65228ab57f78?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=770&q=80");
    height: 600px;
    background-size: cover;
    background-position: center;
   
    
}   
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    background-color: aqua;
    margin: 100px;
}