
html, body {
    margin: 0;
    padding: 0;
}
.container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    margin: 200px;
   
    
}
input{
    width: 500px;
    display:grid;
}
.aboutMe{
    height: 300px;
    grid-column: 1/3;
    
}
.submit{
    display:flex;
    justify-content: center;
    
}